#img {
    display: flex;
}
body {
    display: color black;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin: auto;
    padding: 5px;
    max-width: 100%;
    max-height: 50%;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 4px;
    height: 500px;
}

h1 {
    color:blue;
    background-color:red;
    text-align: center;
}
#alpha {
    color: red;
}
.bravo {
    color: aqua;
}
.charlie {
    color: green;
}
.delta {
    color: blue;
}
.echo {
    color: rgb(255, 0, 234);
}
button {
    color:pink
}